:root {
  --primary-color:#37ab17;
  --primary-dark-color:#099028;
  --dark-color:#221b1d;
  --primary-text-color:#171815;
}

body {
  background-color: #fafafa;
  font-family: "Jost", sans-serif !important;
  font-optical-sizing: auto;
}

.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover {
  background-color: var(--primary-dark-color);
  border-color: var(--primary-dark-color);
}

a[href]:not(.btn) {
  color: var(--primary-color);
}

.page-header {
  height: 370px;
  background-color: var(--primary-dark-color);
  display: flex;
  align-items: center;
}
.page-header h1 {
  font-size: 4.88em;
  font-weight: bold;
  color: #fff;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.68em !important;
}

footer {
  padding-top: 120px;
  background-color: #f5f5f5;
}

.port-item {
  border-radius: 8px;
  overflow: hidden;
}
.port-item .img {
  height: 420px;
  width: 100%;
}
.port-item .img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}
.port-item .caption {
  padding: 32px;
}
.port-item .caption h5 {
  font-size: 0.89em;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 0.66;
}
.port-item .caption h4 {
  margin-bottom: 24px;
  color: #046b6b;
}
.port-item .caption .desc {
  font-size: 1.28em;
}

.socials a {
  text-decoration: none;
  display: inline-block;
  margin: 0 16px;
  color: #046b6b;
}

.icon-tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 24px 0;
}
.icon-tags span {
  display: block;
  height: 24px;
  width: 24px;
  filter: grayscale(100%);
}

.btn-rounded {
  border-radius: 80px;
}

.text-primary {
  color: var(--primary-color) !important;
}

.txt-lg {
  font-size: 2.88em !important;
}

.txt-muted {
  opacity: 0.75;
}

.text-sm {
  font-size: 0.85em;
}

.header .content h1 {
  font-size: 2.88em;
  font-weight: 800;
}
.header .content p {
  font-size: 1.59em;
}

.glass-card {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: inline-block;
  padding: 16px;
}

.img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1128px;
}

.header {
  height: 656px;
  background-color: #fefefe;
}

.icon-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 16px;
}
.icon-list svg {
  height: 32px;
  width: 32px;
  margin: 0 8px;
}

nav {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.882);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 0;
  z-index: 100;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
nav .logo {
  font-size: 24px;
  font-weight: bold;
  opacity: 0.7;
}
nav .menu {
  display: inline-block;
  padding: 0;
  margin: 0;
  z-index: 88;
}
nav .menu > li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}
nav .menu > li > a {
  display: block;
  padding: 0 16px;
  font-weight: 500;
  line-height: 64px;
  text-decoration: none;
  color: var(--primary-text-color) !important;
  border-bottom: solid 4px transparent;
}
nav .menu > li.active a {
  border-bottom-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}
nav .menu > li ul {
  position: absolute;
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}
nav .menu > li ul li {
  display: block;
}
nav .menu > li ul li a {
  display: block;
  letter-spacing: normal;
}

.s-mobile {
  display: none;
}

@media only screen and (max-width: 720px) {
  .s-mobile {
    display: block;
  }
}/*# sourceMappingURL=app.css.map */